@import "../../../util/variables.scss";
@import "../../../util/mixins.scss";


$sectionPaddingCompensation: 32px*2;

.section-content {

    @include fillWidthUntil(1120px + $sectionPaddingCompensation);
    @include borderBox;

    margin: auto;
    padding: 0 32px;

    &.nopadding {
        @include fillWidthUntil(1120px);
        padding: 0;
    }

}

.split {
    @include hsplit;
}

.center {
    @include flex(column, unset, center, 16px);
    width: 100%;
}


.section-hero {

    @include borderBox;
    padding-top: 240px;

    background: $colorLightBg;
    min-height: 900px;

    .hero-left {

        @include flex(column, unset, flex-start, 48px);

        .hero-title {
            height: 290px;
        }

    }

    .hero-right {

        @include flex(column, unset, flex-end);
        position: relative;

        img {
            border-radius: 32px;
        }

    }

    .hero-image {
        position: absolute;
        top: $parrotYOffsetDesktop;
        right: $parrotXOffsetDesktop;
    }

}

.section-main {

    @include flex(column, unset, center);
    padding: 200px 0;
    gap: 200px;

    .section-content {
        .center {
            > h2 {
                @include sectionHeading;
                margin-bottom: 16px;
            }
        
            > p {
                @include sectionParagraph;
                max-width: 350px;
                text-align: center;
                margin-bottom: 64px;
            }
        }
    } 

    .team {

        .split {
            position: relative;
        }

        .bust1 {
            margin-top: 0;
        }
        .bust2 {
            margin-top: 100px;
        }
        .bust3 {
            margin-top: 10px;
        }

        .connection-line {

            position: absolute;
            width: $teamLineSizeDesktop;
            z-index: -10;

            &.one {
                left: $teamLinePosXDesktop;
                top: $teamLinePosYDesktop;
                rotate: 170deg;
            }
            &.two {
                right: $teamLinePosXDesktop;
                bottom: $teamLinePosYDesktop;
                scale: -1 1;
                rotate: 10deg;
            }

        }
        
    }

    .contact {
        
        .split {
            gap: 100px;
        }

        .left {

            @include flex(column, unset, flex-start);

            gap: 40px;
            
            h2 {
                @include sectionHeading;
            }
            p {
                @include sectionParagraph;
                @include shorterParagraph;
            }
            button {
                margin-top: 16px;
            }

        }

        .right {
            flex-shrink: 0;
            width: 540px;
            height: 340px;
        }

    }

}

.section-scroll {
    background: $colorBrightRed;
    height: 650px;
}

@media screen and (max-width: $mobileThreshold) {

    $sectionPaddingCompensation: 18px*2;

    .split {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .section-hero {

        padding-top: 177px;
        min-height: 982px;
        gap: 50px;
        position: relative;
        margin-bottom: $parrotYOffsetMobile;

        .hero-left {
            align-items: stretch;
            gap: 30px;

            .hero-title {
                height: unset;
            }
        }
        .hero-right {
            position: absolute;
            bottom: $parrotYOffsetMobile * -1;
            right: $parrotXOffsetMobile * -1;
        }
        .hero-image {
            position: unset;
            top: unset;
            right: unset;
        }

    }

    .section-content {
        @include fillWidthUntil($mobileWidth + $sectionPaddingCompensation);
        padding: 0 18px;
    }

    .section-main {

        gap: 100px;
        padding: 100px 0;

        .team {

            .bust1, .bust3 {
                margin-top: 0;
                margin-right: auto;
            }
            .bust2 {
                margin-top: 0;
                margin-left: auto;
            }

            .connection-line {

                width: $teamLineSizeMobile;
    
                &.one {
                    left: unset;
                    right: $teamLinePosXMobile;
                    top: $teamLinePosYMobile;
                    rotate: 200deg;
                }
                &.two {
                    left: $teamLinePosXMobile;
                    bottom: $teamLinePosYMobile;
                    scale: -1 1;
                    rotate: 150deg;
                }
    
            }
            
        }

        .contact {

            .left {
                gap: 20px;
            }

            .right {
                width: 100%;
                height: unset;
            }

        }

    }
    
}