.connection-path {
    stroke-dasharray: 600;
	stroke-dashoffset: 600;
}

.vis .connection-path {
    animation: lineDraw 1s ease;
    animation-fill-mode: forwards;
}

@keyframes lineDraw {
    to {
		stroke-dashoffset: 0;
	}
}