@import "../../../util/variables.scss";
@import "../../../util/mixins.scss";

.members-counter {

    @include borderBox;
    @include flex(column, space-between, flex-start);
    
    background: $colorRed;
    color: white;
    border-radius: 50px;
    height: 320px;
    width: 270px;
    padding: 32px;
    position: absolute;
    right: $memberCardXOffsetDesktop;
    bottom: $memberCardYOffsetDesktop * -1;
    overflow: hidden;

    &.visible {

        &::before {
            animation: cardBeforeAppear 0.5s $smoothEaseOut;
            animation-delay: 0.5s;
            animation-fill-mode: backwards;
        }

        &::after {
            animation: cardAfterAppear 0.6s $smoothEaseOut;
            animation-delay: 0.7s;
            animation-fill-mode: backwards;
        }

    }


    img, .members-counter-content {
        z-index: 10;
        user-select: none;
    }

    .members-counter-content {
        
        @include flex(column);

        h4 {
            @include fontWeightBold;
            font-size: 20px;
            line-height: 20px;
        }
        h2 {
            @include fontWeightBold;
            font-size: 50px;
            line-height: 80px;
        }

    }


    &::before, &::after {
        content: '';
        display: block;
        position: absolute;
        border-radius: 100%;
    }

    &::before {
        background: $colorPink;
        width: 200%;
        aspect-ratio: 3/4;
        bottom: 30%;
        left: -100%;
    }

    &::after {
        background: $colorSecondary;
        width: 250%;
        aspect-ratio: 1/1;
        top: 45%;
        left: -110%;
    }

}


@media screen and (max-width: $mobileThreshold) {


    .members-counter {

        left: 18px;
        top: 620px;
        width: 216px;
        height: 256px;
        border-radius: 30px;
        padding: 35px 30px;

        img {
            width: 32px;
        }

        .members-counter-content {
            h4 {
                font-size: 15px;
            }
            h2 {
                font-size: 40px;
                line-height: 40px;
            }
        }


    }

}

@keyframes cardBeforeAppear {
    0% {
        opacity: 0;
        translate: -100px -200px;
    }
    100% {
        opacity: 1;
        translate: 0 0;
    }
}

@keyframes cardAfterAppear {
    0% {
        opacity: 0;
        translate: -50px 200px;
    }
    100% {
        opacity: 1;
        translate: 0 0;
    }
}