// imports

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

// font variables

$fontDefault: Poppins, sans-serif;


// color variables

$colorAccent:      #F2726C;
$colorRed:         #FAA881;
$colorBrightRed:   #FFBD9E;
$colorLightBg:     #F7F3F4;
$colorSecondary:   #7675FD;

$colorGreyText:    #1E1A20;
$colorGreyHeading: #222433;
$colorFooterText:  #333;
$colorHintText:    #807C7C;
$colorLightBorder: #D2D1D2;

$colorBrandTwitter:  #1DA1F2;
$colorBrandFacebook: #1778F2;
$colorBrandLinkedIn: #0077B5;


// dimension variables

$mobileThreshold: 1110px;
$mobileWidth: 560px;

$parrotXOffsetDesktop: -48px;
$parrotYOffsetDesktop: -54px;
$parrotXOffsetMobile: 170px;
$parrotYOffsetMobile: 163px;

$teamLineSizeDesktop: 33%;
$teamLinePosXDesktop: 16%;
$teamLinePosYDesktop: 15%;
$teamLineSizeMobile: 65%;
$teamLinePosXMobile: 16%;
$teamLinePosYMobile: 17%;

$leafDecoOffsetX: 26px;
$leafDecoOffsetY: 20px;


// time variables

$heroTitleDrawSpeed: 0.05s;