// imports

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

// font variables

$fontDefault: Poppins, sans-serif;


// color variables

$colorAccent:      #F2726C;
$colorRed:         #FAA881;
$colorBrightRed:   #FFBD9E;
$colorLightBg:     #F7F3F4;
$colorSecondary:   #7675FD;

$colorGreyText:    #1E1A20;
$colorGreyHeading: #222433;
$colorFooterText:  #333;
$colorHintText:    #807C7C;
$colorLightBorder: #D2D1D2;

$colorBrandTwitter:  #1DA1F2;
$colorBrandFacebook: #1778F2;
$colorBrandLinkedIn: #0077B5;


// dimension variables

$mobileThreshold: 1110px;
$mobileWidth: 560px;

$parrotYOffsetDesktop: -54px;
$parrotXOffsetDesktop: -48px;
$parrotYOffsetMobile: 163px;
$parrotXOffsetMobile: 150px;

$teamLinePosYDesktop: 15%;
$teamLinePosXDesktop: 16%;
$teamLinePosYMobile: 25%;
$teamLinePosXMobile: 10%;