@import "../../../util/variables.scss";
@import "../../../util/mixins.scss";

.form-box-wrap {

    @include flex(row, center, center);
    @include borderBox;

    min-height: 560px;
    border-radius: 20px;
    padding: 80px;
    background: $colorBrightRed;

    .left {

        @include flex(column, center, unset, 40px);

        margin-right: 125px;
        color: $colorGreyText;

        h2 {
            @include sectionHeading;
        }
        p {
            @include sectionParagraph;
            @include shorterParagraph;
        }

    }

}

.form-box {

    @include flex(column, unset, stretch, 16px);
    @include borderBox;

    padding: 40px 55px;
    border-radius: 16px;
    background: $colorLightBg;
    min-width: 420px;

    input {

        @include removeDefaultStyle;
        @include round;

        padding: 12px 24px;
        background: white;
        font-size: 14px;

        &::placeholder {
            color: $colorHintText
        }

    }

    h3 {
        @include fontWeightSemibold;
        color: $colorGreyHeading;
        font-size: 32px;
        text-align: center;
        line-height: 56px;
        margin-bottom: 12px;
    }

    button {
        margin-top: 16px;
    }

}

@media screen and (max-width: $mobileThreshold) {
    
    .form-box-wrap {

        @include fillWidthUntil($mobileWidth + 18px*2);
        margin: auto;
        flex-direction: column;
        padding: 42px 18px;

        .left {
            gap: 20px;
            margin-right: 0;
            margin: 0 26px;
            margin-bottom: 50px;
        }

    }

    .form-box {

        min-width: 0;
        width: 100%;
        margin-bottom: 14px;

        h3 {
            font-size: 24px;
            line-height: 32px;
        }

    }

}