.body {

    scale: 1.1;

    .leaf1dead, .leaf2dead {
        opacity: 0;
    }

    .leaf1, .leaf2, .leaf1dead, .leaf2dead {
        transition: opacity 0.1s ease;
    }

    &.over {

        .leaf1 {
            transform-origin: bottom left;
            animation: leaf1Hover 0.5s ease;
        }

        .leaf2 {
            transform-origin: bottom left;
            animation: leaf2Hover 0.5s ease;
            animation-delay: 0.1s;
        }

    }

    &.dead {

        .leaf1, .leaf2 {
            opacity: 0;
        }

        .leaf1dead, .leaf2dead {
            opacity: 1;
        }

        .leaf1dead {
            transform-origin: 42% 40%;
            animation: leaf1Dead 1s ease;
            animation-fill-mode: both;
            animation-delay: 0.1s;
        }

        .leaf2dead {
            transform-origin: 57% 93%;
            animation: leaf2Dead 1s ease;
            animation-fill-mode: both;
            animation-delay: 0.3s;
        }

    }

}

@keyframes leaf1Hover {
    0% {
        rotate: 0;
    }
    32% {
        rotate: -5deg;
    }
    60% {
        rotate: 2deg;
    }
    100% {
        rotate: 0;
    }
}

@keyframes leaf2Hover {
    0% {
        rotate: 0;
    }
    30% {
        rotate: -2deg;
    }
    50% {
        rotate: 1deg;
    }
    100% {
        rotate: 0;
    }
}

@keyframes leaf1Dead {
    10% {
        rotate: 0;
    }
    40% {
        rotate: 170deg;
    }
    60% {
        rotate: 160deg;
    }
    100% {
        rotate: 165deg;
    }
}


@keyframes leaf2Dead {
    0% {
        rotate: 0;
    }
    50% {
        rotate: 110deg;
    }
    100% {
        rotate: 100deg;
    }
}