@import "../../../util/variables.scss";
@import "../../../util/mixins.scss";

.navbar {

    @include flex(row, center);

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    &.mobile .navbar-content {
        margin: 0 18px;
    }

    &.fixed {
        position: fixed;
        backdrop-filter: blur(15px);
        background: #fffa;
        animation: navbarFixedAppear 0.3s cubic-bezier(0.1, 0.6, 0.1, 1);
    }

    .navbar-content {
        
        @include fillWidthUntil(1280px);
        @include flex(row, space-between, center);

        padding: 32px 0;
        margin: 0 32px;
        border-bottom: 4px solid $colorGreyHeading;

    }

    .navbar-content-section {

        @include flex;

        a {
            @include removeLinkStyle;
            @include paragraphRegular;

            padding: 8px 50px;

            &.selected {
                @include fontWeightBold;
            }

            &:hover {
                opacity: 0.8;
            }
        }

    }

}


@keyframes navbarFixedAppear {
    0% {
        translate: 0 -100px;
    }
    100% {
        translate: 0;
    }
}