@import "../../../util/variables.scss";

.draw-path * {
    stroke-dasharray: 600;
	stroke-dashoffset: 600;
    animation: lineDraw 2s ease;
    animation-fill-mode: forwards;
}

$offsets: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14;

@each $offset in $offsets {
    .offset-#{$offset} {
        animation-delay: $heroTitleDrawSpeed * $offset;
    }
}

@keyframes lineDraw {
    0% {
        opacity: 0;
    }
    20% {
        fill-opacity: 0;
        stroke-width: 2;
    }
    80% {
        stroke-dashoffset: 0;
        fill-opacity: 1;
    }
    100% {
        fill-opacity: 1;
        stroke-width: 0;
    }
}